<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Dishes Add</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
        <form method="POST">
        {% csrf_token %}
            <h2>Добавить блюдо</h2>

            <p>Название</p>
            {{ add_dishes.name }}

            <p>Категории</p>
            {{ add_dishes.category }}

            <p>Цена</p>
            {{ add_dishes.price }}

            <p>Список ингридиетов</p>
            {{ add_dishes.ingredients }}
            <br>

            <input style="margin-top: 30px;" type="submit" value="Создать">
        </form>
</body>
</html>