<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Dishes Delete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% for i in dishes %}
    <hr>
    <h2>{{ i.name }}</h2>
    <p>{{ i.category }}</p>
    <p>Цена: {{ i.price }} ₽</p>
    <p>Список ингридиетов: {{ i.ingredients }}</p>
    <a href="{% url 'dishes_delete_choose' i.id %}">Удалить</a>
    <hr>
    {% endfor %}
</body>
</html>